<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Natural Language Processing</title>


</head>

<body>

    <header>
        <div class="logo">
            NLP Udacity Project
        </div>
        <div class="navigation">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form id="main-form" action="#" method="POST">
                <div>
                    <h1 class="form-heading">Input a url for an article to be processed through the api below:</h1>
                    <input type="text" name="url" id="url" onKeyUp="Client.validate()" placeholder="Enter URL here..." required>
                    <span class="error hidden">
                        Please enter a valid URL.
                    </span>
                </div>
                <input id="submit" class="submit" type="submit" onClick="Client.handleSubmit()">
            </form>
            <section>

                <div class="result" id="result"></div>
    </main>

    <footer>
        <p>Project completed by Joshua Webster.</p>
    </footer>

</body>

</html>